
/*Layout*/

.row{
  max-width: 880px;
}
#chart_container{
  width: 70%;
  float: left;
}

#right_labels{
  font-size: 1em;
  margin-left:70%;
  padding-top: 40px;
}

#total_count{

}

#not_eligible{
  position: absolute;
  margin-top: 3%;
  color: #adb5b9;
}

#other{
  position: absolute;
  margin-top: 20%;
  color: #8a8e8e;

}

#benefit{
  position: absolute;
  margin-top: 38%;
  color: #1696d2;

}



.bar.benefit{
  fill: #2397d0;
}

.bar.other{
  fill: #c6c6c6;
}

.bar.excluded{
  fill: #e6e7e8;
}

.bar_label.benefit{
  font-size: 1.2em;
  font-weight: 300
}

.bar_label.other{
  font-size: 1em;
  font-weight: 100
}

.bar_label.excluded{
  font-size: 1em;
  font-weight: 100
}


.label_medium{
  font-size: 1.5em;
}

body{
  height: 800px;
  font-family: 'Lato';
}

.axis {
  font-size: 14px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.y.axis{
  display: none;
}
.x.axis path {
  display: none;
}

.x.axis line{
  display: none;
}

.x.axis text{
  font-size: 1.75em;
  font-weight: 100;
  fill: #9f9896;
}

.s50_x_label{
  color: #9f9896;
  font-size: .75em;
}

.s75_x_label{
  font-size: 1em;
}

.s100_x_label{
  color: #9f9896;
  font-size: .75em;
}


.graph {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#controls{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

#slider{
/*  margin:auto;
  display: block;*/
}

#rate, #premium{
  position: relative;
  margin-top: 10px;
  left: 38px;
}

.value-wrapper, .spread-wrapper{
  display: inline;
  margin-left: 2% !important;
  font-family: "Lato";
  font-weight: bold;
  width: 64px;
}
.spread-wrapper{
  width: 100px;
}








input[type=range] {
    float: left;
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 60%;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 60%;
    height: 5px;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #ec008c;
    margin-top: -3px;
}
input[type=range]:focus {
    outline: none;
}
/*input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}*/


input[type=range]::-moz-range-thumb {
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #ec008c;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -3px;
}

input[type=range]::-ms-track {
    width: 60%;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;

}
input[type=range]::-ms-fill-lower {
    background: #888;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #888;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #ec008c;
}
/*input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}*/


input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    width: 60%;
    height: 5px;
    padding: 0;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.375, #ec008c),
        color-stop(0.375, #888888)
    );
}




button {
    font-size: 1.5em;
    font-family: Lato;
    font-weight: 100;
    padding: 0px !important;
    border: 0px;
    height: 1.750em;
    width: 4.250em;
    color: #FFF;
    cursor: pointer;
}
button.selected {
    background-color: #000;
    border: 0pc
    color: #000;
}
button.disabled {
    background-color: #888888;
    border: 0pc
    color: #888888;
}